.welcome {
    background: #52658f url('../images/me_bench_blue.jpg') no-repeat center center fixed;
    background-size: cover;
}

.light-text {
    color: #f7f5e6;
}

.dark-text {
    color: #333a56;
}

.header-text {
    font-family: Montserrat, sans-serif !important;
    font-weight: 700;
    text-align: center !important;
}

.light-divider {
    border-top: 4px solid #f7f5e6;
    color: #f7f5e6;
    width: 300px;
}

.dark-divider {
    border-top: 4px solid #333a56;
    color: #333a56;
    width: 300px;
}

.light-divider:after, .dark-divider:after {
    position: relative;
    top: -0.77em;
    display: inline-block;
    padding: 0 calc(50% - 0.25em);
    content: '\ffee';
    font-size: 4em;
}