body {
    position: relative;
}

.welcome {
    background: #52658f url('../images/me_bench_blue.jpg') no-repeat center center fixed;
    background-size: cover;
}

.light-text {
    color: #f7f5e6;
}

.dark-text {
    color: #333a56;
}

.header-text {
    font-family: Montserrat, sans-serif !important;
    font-weight: 700;
    text-align: center !important;
}

.light-divider {
    border-top: 4px solid #f7f5e6;
    color: #f7f5e6;
    width: 300px;
}

.dark-divider {
    border-top: 4px solid #333a56;
    color: #333a56;
    width: 300px;
}

.light-background, .bg-light {
    background-color: #f7f5e6 !important;
}

.dark-background {
    background-color: #52658f !important;
}

.bg-dark {
    background-color: #333a56 !important;
}

.light-divider:after, .dark-divider:after {
    position: relative;
    top: -0.9em;
    display: inline-block;
    padding: 0 calc(50% - 0.3em);
    content: 'o';
    font-size: 3em;
    font-weight: 700;
}

.navbar-brand {
    color: #f7f5e6 !important;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

a:hover {
    color: #333a56;
}

.btn-outline-primary {
    border-color: #52658f !important;
    color: #52658f !important;
}

.btn-outline-primary:active, .btn-outline-primary:hover {
    background-color: #333a56 !important;
    color: #f7f5e6 !important;
}