body {
    position: relative;
}

.welcome {
    background: #52658f url('../images/me_bench_blue.jpg') no-repeat center center fixed;
    background-size: cover;
}

.light-text {
    color: #f7f5e6;
}

.dark-text {
    color: #333a56;
}

.header-text {
    font-family: Montserrat, sans-serif !important;
    font-weight: 700;
    text-align: center !important;
}

.light-divider {
    border-top: 4px solid #f7f5e6;
    color: #f7f5e6;
    width: 300px;
}

.dark-divider {
    border-top: 4px solid #333a56;
    color: #333a56;
    width: 300px;
}

.light-background, .bg-light {
    background-color: #f7f5e6 !important;
}

.dark-background {
    background-color: #52658f !important;
}

.bg-dark {
    background-color: #333a56 !important;
}

.light-divider:after, .dark-divider:after {
    position: relative;
    top: -0.9em;
    display: inline-block;
    padding: 0 calc(50% - 0.3em);
    content: 'o';
    font-size: 3em;
    font-weight: 700;
}

.navbar-brand {
    color: #f7f5e6 !important;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

a:hover {
    color: #333a56;
}

.btn-outline-primary {
    border-color: #52658f !important;
    color: #52658f !important;
}

.btn-outline-primary:active, .btn-outline-primary:hover {
    background-color: #333a56 !important;
    color: #f7f5e6 !important;
}

.modal-image {
    cursor: pointer;
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
}

.modal-image:hover {
    opacity: 0;
}

.modal-button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

.modal-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.modal-title {
    width: 100%;
}